.empty-message {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: var(--spacing-sm) var(--spacing-md);
    color: var(--color-text-faint);
    gap: var(--spacing-sm);

    .icon {
        font-size: 10rem;
    }

    .empty-message-title {
        font-size: var(--font-size-lg);
        font-weight: var(--font-weight-light);
    }

    .empty-message-description {
        font-size: var(--font-size-sm);
    }
}
