.empty-message {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: var(--spacing-extra-large);
    color: var(--color-text-gray);
    gap: var(--spacing-small);

    .icon {
        font-size: 10rem;
    }

    .empty-message-title {
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-bold);
    }

    .empty-message-description {
        font-size: var(--font-size-medium);
        font-weight: var(--font-weight-medium);
    }
}
