.modal {
    width: 100%;
    max-width: calc(100% - 2 * var(--spacing-md));
    height: 100%;
    max-height: calc(100% - 2 * var(--spacing-md));
    overflow: auto;

    .content {
        overflow: auto;
    }

    &.xs-size {
        max-width: calc(var(--width-page-content-max) * 0.3);

        &:not(.with-auto-height) {
            max-height: min(16rem, 100% - 2 * var(--spacing-md));
        }
    }

    &.sm-size {
        max-width: calc(var(--width-page-content-max) * 0.4);

        &:not(.with-auto-height) {
            max-height: min(26rem, 100% - 2 * var(--spacing-md));
        }
    }

    &.md-size {
        max-width: calc(var(--width-page-content-max) * 0.5);

        &:not(.with-auto-height) {
            max-height: min(36rem, 100% - 2 * var(--spacing-md));
        }
    }

    &.lg-size {
        max-width: calc(var(--width-page-content-max) * 0.7);

        &:not(.with-auto-height) {
            max-height: min(46rem, 100% - 2 * var(--spacing-md));
        }
    }

    &.xl-size {
        max-width: var(--width-page-content-max);

        &:not(.with-auto-height) {
            max-height: min(60rem, 100% - 2 * var(--spacing-md));
        }
    }

    &.with-auto-height {
        height: initial;
    }
}
