.modal {
    width: 100%;
    height: 100%;

    .content {
        overflow: visible;
    }

    &.sm-size {
        max-width: calc(var(--width-page-content-max) * 0.4);

        &:not(.with-auto-height) {
            max-height: min(20rem, 100% - 2 * var(--spacing-md));
        }
    }

    &.md-size {
        max-width: calc(var(--width-page-content-max) * 0.6);

        &:not(.with-auto-height) {
            max-height: min(40rem, 100% - 2 * var(--spacing-md));
        }
    }

    &.lg-size {
        max-width: var(--width-page-content-max);

        &:not(.with-auto-height) {
            max-height: min(60rem, 100% - 2 * var(--spacing-md));
        }
    }

    &.with-auto-height {
        height: initial;
        max-height: calc(100% - 2 * var(--spacing-md));
    }
}
