.react-mde {
    border: 0;
    border-radius: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
}

.text-area {
    outline: none;
    background-color: transparent;
    padding: var(--spacing-sm) 0 !important;
    font-family: inherit;
    font-size: inherit;
}

.toolbar {
    background-color: transparent;
}
