.markdown-editor {
    width: 100%;

    .react-mde {
        border: 0;
        border-radius: 0;
        width: 100%;
        font-family: inherit;
        font-size: inherit;
    }

    .text-area {
        outline: none;
        background-color: transparent;
        padding: var(--spacing-sm) 0 !important;
        height: auto !important;
        min-height: 4rem;
        resize: none !important;
        font-family: inherit;
        font-size: inherit;
        field-sizing: content;
    }

    .toolbar {
        background-color: transparent;
        padding-bottom: var(--spacing-xs);

        :global {
            .mde-header-group {
                padding: 0;
            }
        }
    }
}
