.container {
    .border {
        margin: 0;
        border: 0;
        border-top: var(--width-separator-thin) solid var(--color-separator);
    }

    .content {
        display: flex;

        &.inline-content {
            flex-direction: row;
            flex-wrap: wrap;
        }

        &.block-content {
            flex-direction: column;
        }

        &.pending-overlaid {
            isolation: isolate;
            position: relative;
            min-height: 6rem;

            .message {
                z-index: 1;
            }
        }

        &.with-background {
            border-radius: var(--radius-card-border);
            background-color: var(--color-foreground);
        }
    }
}
