.task-input {
    container-type: inline-size;

    .content {
        display: grid;
        grid-template-columns: max-content 12rem auto;
        gap: var(--spacing-sm);
        align-items: baseline;

        .sn {
            width: 1rem;
            text-align: end;
        }
    }

    @container (max-width: 30rem) {
        .content {
            grid-template-columns: 1fr;
        }
    }
}
