.checkbox {
    display: contents;

    .checked {
        .checkmark {
            color: var(--color-accent);
        }
    }

    .input {
        display: none;
    }

    &.read-only {
        cursor: default;
        user-select: initial;
    }
}
