.page-layout {
    --main-spacing: var(--spacing-lg);
    --aside-size: minmax(14rem, 25%);

    display: grid;
    grid-template-columns:
        1fr
        [page-content-start]
            min(
                100% - 2 * var(--main-spacing),
                var(--width-page-content-max) - 2 * var(--main-spacing)
            )
        [page-content-end]
        1fr;
    grid-template-rows: auto 1fr auto;
    background-color: var(--color-background);
    padding: var(--spacing-xl) 0;
    gap: var(--spacing-xl) var(--main-spacing);

    .page-header {
        grid-column: page-content;
    }

    .contents {
        grid-column: page-content;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        gap: var(--spacing-lg);

        &.with-aside {
            grid-template-columns: var(--aside-size) 1fr;
        }

        .aside {
            position: sticky;
            top: 0;
            border-radius: var(--radius-card-border);
            background-color: var(--color-foreground);
            height: max-content;
        }

        .main {
            display: contents;
        }

        @media screen and (max-width: 40rem) {
            &.with-aside {
                grid-template-columns: 1fr;
            }

            .aside {
                position: initial;
                width: 100%;
            }
        }
    }

    &.with-large-aside {
        --aside-size: minmax(30rem, 40%);
    }

    .footer-actions {
        grid-column: page-content;
        justify-self: end;
    }
}
