.page-layout {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-background);
    padding: var(--spacing-small) 0;

    .page-header {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        padding: var(--spacing-medium) var(--spacing-large);
        width: 100%;
        max-width: var(--width-page-content-max);
        gap: var(--spacing-medium);

        .heading-row {
            display: flex;
            align-items: baseline;
            gap: var(--spacing-medium);

            .heading {
                flex-grow: 1;
            }

            .header-icons,
            .header-actions {
                display: flex;
                flex-shrink: 0;
                gap: var(--spacing-medium);
            }

            @media screen and (max-width: 40rem) {
                flex-wrap: wrap;

                .header-actions {
                    flex-shrink: unset;
                    width: 100%;
                }
            }
        }
    }

    .contents {
        display: flex;
        padding: 0 var(--spacing-small);
        width: 100%;
        max-width: var(--width-page-content-max);

        .aside {
            flex-shrink: 0;
            padding: var(--spacing-medium) var(--spacing-medium);
            width: calc(10rem + 10%);

            .aside-content {
                position: sticky;
                top: 0;
            }
        }

        .main {
            flex-grow: 1;
            padding: var(--spacing-medium) var(--spacing-medium);
        }

        @media screen and (max-width: 40rem) {
            flex-direction: column;

            .aside {
                width: 100%;
            }
        }
    }

    .footer-actions {
        width: 100%;
        max-width: var(--width-page-content-max);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: center;
        padding: var(--spacing-medium) var(--spacing-large);
    }
}
