.navbar {
    --main-spacing: var(--spacing-lg);
    display: grid;
    z-index: 1;
    box-shadow: var(--shadow-card);
    background-color: var(--color-primary);
    padding: var(--spacing-md) 0;
    color: var(--color-text-on-dark);
    grid-template-columns:
        1fr
        [content-start]
            min(
                100% - 2 * var(--main-spacing),
                var(--width-page-content-max) - 2 * var(--main-spacing)
            )
        [content-end]
        1fr;

    .content {
        grid-column: content;

        .logo {
            height: var(--font-size-3xl);
        }

        .icon {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}
