.input-container {
    display: flex;
    flex-direction: column;
    border-radius: var(--radius-input-border);

    .input-section {
        display: flex;
        align-items: center;
        border-bottom: var(--width-separator-thin) solid transparent;
        border-radius: var(--radius-input-border);
        background-color: var(--color-background-input);
        padding: var(--spacing-extra-small) var(--spacing-small);
        gap: var(--spacing-medium);

        .input {
            flex-grow: 1;
        }

    }

    &.with-input-section-border {
        .input-section {
            &:focus-within {
                border-bottom-color: var(--color-active-input-border);
            }
        }

        &.errored {
            .input-section {
                border-bottom-color: var(--color-danger);
            }
        }

    }

    .input-label {
        color: var(--color-text-light);
        font-size: var(--font-size-extra-small);
        font-weight: var(--font-weight-light);
    }

    .hint {
        color: var(--color-text-light);
        font-size: var(--font-size-small);
    }

    .error {
        color: var(--color-danger);
        font-size: var(--font-size-small);
    }

    .icons,
    .actions {
        display: flex;
        gap: var(--spacing-small);
        align-items: center;
    }

    &:focus-within {
        .input-label {
            color: var(--color-accent);
        }
    }

    &.read-only {
        &.with-input-section-border {
            .input-section {
                border-bottom-color: transparent;
            }
        }
    }

    &.disabled {
        opacity: var(--opacity-disabled-element);
    }
}
