.heading {
    --font-size: var(--font-size-extra-large);
    display: flex;
    margin: 0;
    line-height: 1;
    color: var(--color-primary);
    font-size: var(--font-size);
    font-weight: var(--font-weight-light);

    &.level1 {
        --font-size: var(--font-size-super-large);
    }

    &.level2 {
        --font-size: var(--font-size-extra-large);
    }

    &.level3 {
        --font-size: var(--font-size-large);
    }

    &.level4 {
        --font-size: var(--font-size-medium);
    }

    &.level5 {
        --font-size: var(--font-size-small);
    }
}
