.list-layout {
    &.grid-layout {
        container-type: inline-size;
        /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
        --num-columns: var(--num-preferred-grid-columns);
        /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
        --min-item-size: var(--min-grid-column-size);

        .grid-content {
            display: grid;
            /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
            grid-template-columns: repeat(
                auto-fill,
                minmax(
                    max(
                        var(--min-item-size),
                        calc((100cqi - var(--reserved-space)) / var(--num-columns))
                    ),
                    1fr
                )
            );
        }
    }

    &.inline-layout {
        display: flex;
        flex-direction: row;
    }

    &.block-layout {
        display: flex;
        flex-direction: column;
    }

    &.with-full-width {
        width: 100%;
    }

    &.with-wrap {
        flex-wrap: wrap;
    }

    @container (max-width: 32rem) {
        &.grid-layout {
            >.grid-content {
                display: flex;
                flex-direction: column;
                grid-template-columns: initial;
            }
        }
    }
}

