.alert {
    --variant-color: var(--color-background);
    border-radius: var(--radius-card-border);
    background-color: color-mix(in srgb, var(--variant-color) 20%, var(--color-foreground));
    width: calc(14rem + 16vw);
    animation: slide-down var(--duration-transition-medium) ease-in forwards;

    &:not(.without-shadow) {
        box-shadow: 0 5px 25px -10px rgba(0, 0, 0, 1);
    }

    &.full-width {
        width: 100%;
    }

    .title {
        color: inherit;
    }

    .icon {
        font-size: var(--font-size-xl);
    }

    &.info {
        --variant-color: var(--color-accent);
    }

    &.success {
        --variant-color: var(--color-success);
    }

    &.danger {
        --variant-color: var(--color-danger);
    }

    &.warning {
        --variant-color: var(--color-warning);
    }

}

@keyframes slide-down {
    from {
        transform: translateY(-0.25rem);
        opacity: .2;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
