.scenario-page-input {
    container-type: inline-size;

    .content {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: var(--spacing-lg);
        align-items: start;

        >:nth-child(2) {
            position: sticky;
            top: var(--spacing-md);
        }
    }

    @container (max-width: 40rem) {
        >.content {
            grid-template-columns: 1fr;
            align-items: initial;
            justify-content: stretch;

            >:nth-child(2) {
                position: initial;
                top: initial;
            }
        }
    }
}
