.project-list-item {
    .image {
        border-radius: var(--radius-card-border);
        background-color: var(--color-background);
        width: 100%;
        height: 10rem;
        object-fit: cover;
        object-position: bottom center;
    }

    .fallback-image {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--radius-card-border);
        background-color: var(--color-background);
        width: 100%;
        height: 10rem;

        .icon {
            /* FIXME: use variable */
            color: #c2c2c0;
            font-size: 6rem;
        }
    }

    .description {
        color: var(--color-text-light);
    }

    .details {
        max-height: 0;
        overflow: hidden;

        &.visible {
            animation: expand var(--duration-transition-medium) ease-in forwards;
        }

        &.collapsing {
            animation: collapse var(--duration-transition-medium) ease-in forwards;
        }
    }
}
