.button {
    display: flex;
    gap: var(--spacing-small);
    align-items: center;
    border: var(--width-separator-thin) solid rgba(0, 0, 0, 0.3);
    border-radius: var(--radius-button-border);
    padding: var(--spacing-extra-small) var(--spacing-medium);
    width: fit-content;
    color: var(--color-text);

    .icons,
    .actions {
        display: flex;
        font-size: 1.2em;
    }

    .children {
        display: flex;
    }

    &.primary {
        border-color: var(--color-accent);
        background-color: var(--color-accent);
        color: var(--color-text-on-dark);
    }

    &.secondary {
        border-color: var(--color-accent);
        color: var(--color-accent);
    }

    &.tertiary {
        border: none;
        background-color: var(--color-background-accent-hint);
        color: var(--color-accent);
    }

    &.transparent {
        border: none;
        padding: 0;
        font-size: var(--font-size-small);
    }

    &.action {
        border: none;
        padding: 0;
        font-size: var(--font-size-small);
        line-height: 1;
    }

    &.disabled {
        opacity: 0.5;
    }
}
