.block-input {
    .remove-button {
        transition: var(--duration-transition-medium) opacity ease-in-out;
        filter: saturate(0);
    }

    &:hover {
        .remove-button {
            filter: saturate(100%);
        }
    }
}
