.block-input {
    border-radius: var(--radius-card-border);

    .remove-button {
        transition: var(--duration-transition-medium) opacity ease-in-out;
        opacity: 0;
    }

    &:hover {
        .remove-button {
            opacity: 1;
        }
    }
}
