.organization-list {
    .organization-item {
        .org-icon {
            line-height: 1;
            font-size: var(--font-size-lg);
        }

        .organization-status {
            align-items: center;
            border-radius: var(--radius-card-border);
            background-color: var(--color-background-accent-hint);
            width: fit-content;

            &.archived {
                opacity: 0.5;
            }
        }
    }
}
