.project-asset-preview {
    background-color: rgba(0, 0, 0, .2);
    padding: var(--spacing-medium);
    width: 20rem;
    height: 16rem;

    .no-preview {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: var(--spacing-medium);
        width: 100%;
        height: 100%;
    }

    .image {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center center;
    }

    .geo-json {
        width: 100%;
        height: 100%;
    }
}
