.preview {
    background-color: var(--color-background-input);
    width: 100%;
    max-width: 16rem;
    height: 14rem;
    object-fit: contain;
    object-position: center center;
}

.no-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background-input);
    padding: var(--spacing-sm);
    width: 100%;
    max-width: 16rem;
    height: 14rem;
}
