.text-output {
    display: flex;
    gap: var(--spacing-small);

    .label {
        color: var(--color-text-light);
        font-size: var(--font-size-small);

        &:after {
            content: ':';
        }
    }
}
