.text-output {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs) var(--spacing-sm);

    .icon {
        display: flex;
        align-items: center;
        line-height: 1;
        color: var(--color-text-light);
    }

    .label {
        color: var(--color-text-light);
        font-weight: var(--font-weight-light);

        &.with-colon:after {
            content: ':';
        }
    }
}
