.text-output {
    display: flex;
    align-items: start;

    &.with-wrap {
        flex-wrap: wrap;
    }

    &.with-center-align {
        align-items: center;
    }

    .icon {
        display: flex;
        align-items: center;
        color: var(--color-text-faint);
    }

    .value {
        overflow-wrap: anywhere;
    }

    &.with-ellipsized-overflow {
        .value {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .label {
        flex-shrink: 0;
        color: var(--color-text-faint);
        font-weight: var(--font-weight-bold);

        &.with-colon:after {
            content: ':';
        }
    }

    .description {
        color: var(--color-text-light);
    }
}
