.radio {
    display: contents;

    .radio-content {
        .input {
            display: none;
        }

        &.active {
            .icon {
                color: var(--color-accent);
            }
        }
    }
}
