.change-detection-geo-json-preview {
    .content {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-extra-large);
        justify-content: space-between;

        .map-preview {
            align-self: center;
            width: var(--height-mobile-preview-change-detection-content);
            height: var(--height-mobile-preview-change-detection-content);
        }
    }
}
