.local-dataset-asset {
    .spinner {
        animation: spin 1s linear infinite;
    }

    .meta {
        font-size: var(--font-size-sm);
    }
}

@keyframes spin {
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
