.information-page-input {
    container-type: inline-size;

    .content {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: var(--spacing-lg);
    }

    @container (max-width: 40rem) {
        >.content {
            grid-template-columns: 1fr;
        }
    }
}
