.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-tag-border);
    background-color: var(--color-background-accent-hint);
    width: fit-content;
};
