.radio-input {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);

    .radio-list {
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-xs) var(--spacing-md);

        &.inline-layout {
            flex-direction: row;
        }

        &.block-layout {
            flex-direction: column;
        }
    }
}
