.new-tutorial {
    .main-content {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-large);

        .project-selection {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: var(--spacing-large);

        }

        .project-details {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: var(--spacing-large);

            .project-asset-download-link {
                display: contents;
                line-height: 1;
            }
        }

        .scenario-page,
        .information-page {
            border-radius: var(--radius-card-border);
            background-color: var(--color-foreground);
        }
    }
}
