.custom-options-preview {
    gap: var(--spacing-md);

    .option {
        display: flex;
        gap: var(--spacing-sm);

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: 2.8rem;
            height: 2.8rem;
            color: var(--color-text-on-dark);
            font-size: 2rem;
        }
    }

    &.action-variant {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: var(--spacing-lg);

        .option {
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
    }

    &.info-variant {
        display: flex;
        flex-direction: column;

        .option {
            gap: var(--spacing-md);
            align-items: center;

            .icon {
                flex-shrink: 0;
            }

            .label {
                font-weight: var(--font-weight-bold);
            }

            .description {
                font-size: var(--font-size-sm);
            }
        }
    }

    &.tile-variant {
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-lg);
        padding: var(--spacing-md);

        .option {
            align-items: center;
            flex-direction: column;
            gap: var(--spacing-xs);
            text-align: center;

            .tile {
                flex-shrink: 0;
                border: var(--width-separator-thin) solid var(--color-separator);
                border-radius: 0.4rem;
                width: 2.8rem;
                height: 2.8rem;

                &.transparent {
                    border-style: dashed;
                    background-color: var(--color-background);
                }
            }

            .label {
                font-size: var(--font-size-sm);
            }
        }
    }
}
