.asset-input {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-extra-small);

    .input {
        display: none;
    }

    .error {
        color: var(--color-danger);
        font-size: var(--font-size-small);
    }

    .input-section-container {
        display: flex;
        flex-direction: column;
        padding: var(--spacing-small);
        gap: var(--spacing-medium);

        .input-section {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: var(--spacing-small);
        }
    }

    .label {
        color: var(--color-text);
        font-size: var(--font-size-extra-small);
        font-weight: var(--font-weight-light);
    }

    .hint {
        color: var(--color-text-light);
        font-size: var(--font-size-small);
    }

    &:focus-within {
        .label {
            color: var(--color-primary);
        }
    }
}
