.pager {
    align-items: center;

    .items-per-page {
        width: 10rem;
    }

    .page-list {
        align-items: baseline;

        .ellipsis {
            padding: var(--spacing-md);
        }
    }
}
