.alert-container {
    display: flex;
    position: fixed;
    top: 10vh;
    left: 50%;
    flex-direction: column;
    transform: translateX(-50%);
    z-index: 1;
    max-height: 50vh;
    isolation: isolate;
    gap: var(--spacing-small);

    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}
