.alert-container {
    position: fixed;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    max-height: 50vh;
    isolation: isolate;

    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}
