.option {
    .option-layout {
        .icon {
            opacity: 0;
        }

        .label {
            flex-grow: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    &.active {
        .option-layout {
            color: var(--color-accent);

            .icon {
                opacity: 1;
            }
        }
    }
}
