.project-status-output {
    .status {
        position: relative;
        isolation: isolate;
        --status-color: transparent;

        .backdrop {
            position: absolute;
            pointer-events: none;
            top: calc(-1 * var(--spacing-xs));
            left: calc(-1 * var(--spacing-xs));
            border-radius: var(--radius-card-border);
            background-color: color-mix(in srgb, var(--status-color) 5%, transparent);
            width: calc(100% + 2 * var(--spacing-xs));
            height: calc(100% + 2 * var(--spacing-xs));
        }

        .icon {
            font-size: var(--font-size-xl);
        }

        .start-container {
            align-self: stretch;
        }

        .tense-icon {
            align-items: center;

            .line {
                flex-grow: 1;
                opacity: 0.2;
                background-color: var(--color-text);
                width: 1pt;
            }
        }

        &.present {
            --status-color: var(--color-accent);

            .icon {
                color: var(--color-accent);
            }

            .title {
                color: var(--color-accent);
                font-weight: var(--font-weight-bold);
            }
        }

        &.errored {
            --status-color: var(--color-danger);

            .icon {
                color: var(--color-danger);
            }

            .title {
                color: var(--color-danger);
                font-weight: var(--font-weight-bold);
            }
        }

        &.future {
            opacity: 0.5;
        }

        &.past {
            .icon {
                color: var(--color-success);
            }
        }

        .details {
            .label {
                font-size: var(--font-size-md);
            }

            .description {
                color: var(--color-text-light);
                font-size: var(--font-size-sm);
            }
        }

        &.pending {
            opacity: 0.5;
        }

        &.in-progress {
            .label,
            .icon {
                color: var(--color-accent);
            }
        }

        &.completed {
            .icon {
                color: var(--color-success);
            }
        }

        &.processing {
            .icon {
                animation: rotate 1s linear infinite;
                color: var(--color-accent);
            }
        }

        &:last-child {
            .tense-icon {
                .line {
                    display: none;
                }
            }
        }
    }
}

@keyframes rotate {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}
