.navbar {
    display: grid;
    z-index: 1;
    box-shadow: var(--shadow-card);
    background-color: var(--color-primary);
    color: var(--color-text-on-dark);
    grid-template-columns: 1fr [content-start] min(100%, var(--width-page-content-max)) [content-end] 1fr;

    .content {
        align-items: center;
        grid-column: content;

        .logo {
            height: 2.6rem;
        }

        .link {
            opacity: 0.8;
            border-bottom: var(--width-separator-thin) solid transparent;
            color: var(--color-text-on-dark);

            &.active {
                opacity: 1;
                border-bottom-color: var(--color-text-on-dark);
            }
        }
    }
}
