.table {
    /* NOTE: This will ensure that the z-index in
     * children elements doesn't affect rest of the page */
    position: relative;
    z-index: 0;
    width: 100%;

    border-collapse: separate;
    border-spacing: 0;
    font-size: inherit;

    .header-row {
        .header-cell {
            padding: var(--spacing-sm) var(--spacing-md);
            text-align: left;
            color: var(--color-primary);
            font-family: inherit;
            font-weight: var(--font-weight-medium)
        }
    }

    .row {
        .cell {
            border-top: var(--width-separator-thin) solid var(--color-separator);
            padding: var(--spacing-sm) var(--spacing-md);
            overflow: hidden;
            font-family: inherit;
        }
    }
}
