.smart-nav-link {
    display: contents;

    .button-layout {
        opacity: 0.6;
        border-top: var(--width-separator-thin) solid transparent;
        border-bottom: var(--width-separator-thin) solid transparent;
        color: var(--color-text-on-dark);
        font-weight: var(--font-weight-bold);
    }

    &.active {
        .button-layout {
            opacity: 1;
            border-bottom-color: var(--color-text-on-dark);
        }
    }

}
