.update-project-form {
    .main-content {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-extra-large);

        .base-inputs {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-medium);

            .row {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: var(--spacing-medium);

                .column {
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-medium);
                }
            }
        }

        .project-type-specific-inputs {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-medium);
        }
    }
}
